.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* выше установили ограничения для секции */
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.description {
  position: relative;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 100px auto;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
  margin: 0;
}

.two-columns__main-text {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0px auto 20px;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  width: 1100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  margin-top: 20px;
}

.feynman {
  min-height: 890px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding-top: 100px;
  z-index: -2;
  position: relative;
}

.feynman__image {
  width:867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 0;
}

.feynman__subtitle {
  margin: 70px auto 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  position: absolute;
  top: 445px;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  position:relative;
  overflow: hidden;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  z-index: -1;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size:contain;
  background-repeat: no-repeat;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  color: white;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.footer {
  display: flex;
  background-color: #1f1f1f;
  min-height: 350px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 60px auto 40px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-links {
  margin: 20px 0 16px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__author {
  margin: 18px 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-style:normal;
}
